version: '3.9'

services:
  app:
    build:
      context: .        # folder with Dockerfile
      args:              # build args
        DEV: "true"
    ports:
      - "8000:8000"     # host:container port
    volumes:
      - ./app:/app      # sync local app folder with container
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"  # start Django dev server
